{% extends 'base.twig' %}

{% block styles %}

{% endblock %}

{% block main %}

    <!-- Banner -->
    <section id="iq-home" class="iq-banner-08 overview-block-pt grey-bg" style="background-color:#cae3e4">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <!-- <div class="col-lg-6">
                        <h1 class="text-uppercase iq-font-blue iq-tw-3">We are building <b class="iq-tw-7">software</b> to help</h1>
                        <p class="iq-font-black iq-pt-15 iq-mb-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley, </p>
                        <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
                        <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
                    </div> -->
                    <h1 class="text-uppercase iq-font-blue iq-tw-3">About</h1>
                    <p class="iq-font-black iq-pt-15 iq-mb-40">
                        our work.</p>

                </div>
            </div>
        </div>
        <div class="animations">
            <div class="ani ani-6">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1024 1024">
                    <path id="followPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="dashedPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                        <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite"
                                       rotate="auto">
                            <mpath xlink:href="#followPath"></mpath>
                        </animateMotion>
                    </path>
                </svg>
            </div>
        </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Main Content -->
    <div class="main-content">
        <section id="great-features" class="life-work-1 overview-block-pt iq-mt-50 software" style="margin-bottom:30px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <img class="img-fluid" src="images/bg/hand.jpg" alt="drive05">
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h2 class="iq-tw-6 iq-mt-70">About Our Company</h2>
                        <p class="iq-font-15">When you book meet and greet parking through ‘Park up fly’, the airport parking provider will meet you at the terminal or approved set down point, we  and take your car to their secure storage facility. Your car is delivered back to you upon your return, making your trip hassle free and your parking safe, secure and unbeatably convenient.</p>
                        <p class="iq-font-15">‘Park up fly’ aims to provide the best deals on both short stay airport parking as well as long term airport parking. Our affordable airport parking prices cannot be beaten on value and the level of service we provide. We offer valet parking at Heathrow and we will be expanding our services to other airports as well, giving you peace of mind while you are away on holiday or business. Get a quote for car parking today. Our cheap airport parking services always fit your budget.</p>
                        <p class="iq-font-15">We are the first and last point of contact between your journey, and it is crucial for our team to make this service a hassle free and an affordable service!</p>

                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- Main  Contain End-->


{% endblock %}

{% block scripts %}

{% endblock %}