<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sofbox - Responsive Software Landing Page</title>
    <title>Sofbox - Responsive Software Landing Page</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;Raleway:300,400,500,600,700,800,900"
            rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- owl-carousel -->
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.css" />
    <!-- media element player -->
    <link href="/css/mediaelementplayer.min.css" rel="stylesheet" type="text/css" />
    <!-- Animate -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- custom style -->
    <link rel="stylesheet" href="/css/custom.css" />


    <link rel="stylesheet" href="/test/demo.css">
    <!-- Responsive -->

    <!-- custom style -->
    <link rel="stylesheet" href="/test/style.css" />

    <link rel="stylesheet" href="/css/duDialog.css"/>

    
    {% block styles %}

    {% endblock %}

</head>

<body  data-spy="scroll" data-offset="80">
<!-- loading -->
<script src="/controllers/config.js"></script>
<div id="loading">
    <div id="loading-center">
        <div class="loader">
            <div class="cube">
                <div class="sides">
                    <div class="top"></div>
                    <div class="right"></div>
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="front"></div>
                    <div class="back"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- loading End -->
<!-- Header -->
<header id="main-header" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light" >
                    <a class="navbar-brand" href="index.html">
                        <img class="img-fluid" id="logo_img" src="/images/logo.jpeg" alt="#">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ion-navicon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end" id="navbar">
                            <li class="nav-item">
                                <a class="nav-link active" onclick="home()">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="file://home/bunty/Music/Template/color/directions.html">Directions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#0" onclick="aboutUs()" >About Us</a>
                            </li>

                            {#<li class="nav-item">#}
                                {#<a class="nav-link js-signin-modal-trigger" href="#" data-signin="login" style="color:#0eb0dcdb">Sign In/Up</a>#}
                            {#</li>#}

                            {# <li class="nav-item">
                                <a class="nav-link js-signin-modal-trigger" href="#"
                                   data-signin="signup" style="color:#0eb0dcdb">Sign Up</a>
                            </li> #}
                        </ul>
                        {# <a class="button pull-right" href="#0" data-signin="login">Book</a> #}

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

     
    {% block main %}

    {% endblock %}

<!-- Footer -->
<footer id="iq-contact" class="iq-footer3 iq-ptb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <div class="contact-bg">
                    <h5 class="iq-tw-6 iq-font-white iq-mb-20">Address</h5>
                    <ul class="iq-contact">
                        <li>
                            <i class="ion-ios-location-outline"></i>
                            <p>1234 North Luke Lane, South Bend, IN 360001</p>
                        </li>
                        <li>
                            <i class="ion-ios-telephone-outline"></i>
                            <p>+0123 456 789</p>
                        </li>
                        <li>
                            <i class="ion-ios-email-outline"></i>
                            <p>mail@iqonictheme.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <h5 class="iq-tw-6 iq-font-white iq-mb-20">Office Days</h5>
                <ul class="addresss-info">
                    <li>
                        <p>MON - FRI: 09AM - 05PM</p>
                    </li>
                    <li>
                        <p>SAT: 09AM - 01PM</p>
                    </li>
                    <li>
                        <p>SUN: Enjoy Day</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <h5 class="iq-tw-6 iq-font-white iq-mb-20">Menu</h5>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul class="menu">
                            <li><a onclick="home()" >Home</a></li>
                            <li><a onclick="aboutUs()" href="#0" >About Us</a></li>
                            <li><a href="javascript:void(0)">Features</a></li>
                            <li><a href="javascript:void(0)">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul class="menu">
                            <li><a href="javascript:void(0)">Faqs</a></li>
                            <li><a href="javascript:void(0)">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <!-- <h5 class="iq-tw-6 iq-font-white iq-mb-20">Newsletter</h5>
                <input type="email" class="form-control" placeholder="name@example.com">
                <a class="button iq-mt-20" href="javascript:void(0)">Subscribe Now</a> -->
                <img height = "30px" width = "150px" src="/images/icon/paypal.png" style="margin:10px"/>
            </div>
        </div>
        <hr>
        <div class="row iq-mt-20">
            <div class="col-lg-6 col-md-5 col-sm-12">
                <ul class="link">
                    <li class="d-inline-block iq-mr-20"><a href="javascript:void(0)">Term and Condition</a></li>
                    <li class="d-inline-block"><a href="javascript:void(0)"> Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-12">
                <div class="iq-copyright">
                    © Copyright 2018 Developed by <a href="">parkNfly</a>.
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- modal signup and sign in -->
<div id="sign-model" class="cd-signin-modal js-signin-modal">
    <!-- this is the entire modal form, including the background -->
    <div class="cd-signin-modal__container">
        <!-- this is the container wrapper -->
        <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
            <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
            <li><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
        </ul>

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
            <!-- log in form -->
            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                            for="signin-email">E-mail</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="log-in-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                            for="signin-password">Password</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="log-in-password" type="text" placeholder="Password">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
                    <label for="remember-me">Remember me</label>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input onclick="log()" class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Login" />
                </p>
            </form>

            <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0"
                                                                                  data-signin="reset">Forgot your password?</a></p>
        </div> <!-- cd-signin-modal__block -->

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
            <!-- sign up form -->
            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                            for="signup-username">Username</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-first-name" type="text" placeholder="First Name">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                            for="signup-username">Username</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-last-name" type="text" placeholder="Last Name">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                            for="signup-username">Username</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-contact" type="text" placeholder="Contact">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                            for="signup-email">E-mail</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                            for="signup-password">Password</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="sign-up-password" type="text" placeholder="Password">
                    <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
                    <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                            onclick="create()" type="submit" value="Create account">
                </p>
            </form>
        </div> <!-- cd-signin-modal__block -->

        <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
            <!-- reset password form -->
            <p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will
                receive a link to create a new password.</p>

            <form class="cd-signin-modal__form">
                <p class="cd-signin-modal__fieldset">
                    <label
                            class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                            for="reset-email">E-mail</label>
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                            id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-signin-modal__error">Error message here!</span>
                </p>

                <p class="cd-signin-modal__fieldset">
                    <input
                            class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                            type="submit" value="Reset password">
                </p>
            </form>

            <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back
                    to log-in</a></p>
        </div> <!-- cd-signin-modal__block -->
        <a href="#0" class="cd-signin-modal__close js-close">Close</a>
    </div> <!-- cd-signin-modal__container -->
</div> <!-- cd-signin-modal -->



<!-- Footer END -->
<!-- back-to-top -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
</div>
<!-- back-to-top End -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/controllers/login.js"></script>

<script type="text/javascript">


    console.log(window.location.href);

    if(window.location.href ==='http://209.97.128.211:3000/logout'){
            var url = getHost();
            window.location.replace(url);
    }

    function aboutUs() {
        var url = getHost()+ 'aboutus';
        window.location.replace(url);
    }

    function profile() {
        var url = getHost()+ 'profile';
        window.location.replace(url);
    }

    function home() {
        var url = getHost();
        window.location.replace(url);
    }


    function log(){
        console.log('ldlfdlf')
        console.log($('#log-in-password').val());
        var json = { email: $('#log-in-email').val(), password: $('#log-in-password').val() };
        $.post( getHost()+ "signinpost", json)
            .done(function( data ) {
                window.location.reload();
            });

    }

    function create(){
       
        var json =  {
                        email:  $('#sign-up-first-name').val(),
                        password:  $('#sign-up-last-name').val() ,
                        first_name:  $('#sign-up-contact').val() ,
                        last_name:  $('#sign-up-email').val() ,
                        contact:  $('#sign-up-password').val() ,};
        $.post( getHost()+ "signuppost",json)
            .done(function( data ) {
              
                window.location.reload();
            });

    }
</script>
<!-- Main js -->
<script src="/js/main.js"></script>
<!-- Google captcha code Js -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- Custom -->
<script src="/js/custom.js"></script>

<script src="/js.1/placeholders.min.js"></script>
<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            email: "senanayakasrnt@gmail.com", // Email
            call: "+94715938618", // Call phone number
            call_to_action: "Contact us", // Call to action
            button_color: "#129BF4", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "call,email", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>

<!-- /WhatsHelp.io widget -->

<script src="/js/duDialog.js"></script>

{% block scripts %}

{% endblock %}
<script src="/js.1/main.js"></script>
</body>

</html>

