{% extends 'base.twig' %}
    {% block styles %}
<link rel="stylesheet" href="css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-clockpicker.css">
<link rel="stylesheet" type="text/css" href="plugins/timepicker/css/timepicki.css">

    {% endblock %}
{% block main %}

    <script src="/controllers/config.js"></script>

    <!-- Banner -->
    <section id="iq-home" class="iq-banner-08 overview-block-pt grey-bg" style="background-color:#cae3e4">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <!-- <div class="col-lg-6">
                        <h1 class="text-uppercase iq-font-blue iq-tw-3">We are building <b class="iq-tw-7">software</b> to help</h1>
                        <p class="iq-font-black iq-pt-15 iq-mb-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley, </p>
                        <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
                        <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
                    </div> -->
                    <h1 class="text-uppercase iq-font-blue iq-tw-3">PARKnFly</h1>
                    <p class="iq-font-black iq-pt-15 iq-mb-40"> It’s a walk in the park, as long as you take your ticket
                        with you.</p>

                    <div class="col-lg-6">

                        <div class="blue-bg iq-pall-50 rounded iq-mall-20 iq-font-white">
                            <h5 class="text-uppercase iq-tw-7 iq-mb-20 iq-font-white">Get A Quote Now
                            </h5>
                            {# <p>Dummy text of the printing and typesetting industry.</p> #}

                            <form id="form">
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <select class="form-control" id="airport" name="airport" onchange="setTerminals()" required>

                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        {#<select class="form-control" id="terminal" name="terminal"  required>#}

                                        {#</select>#}
                                        <select class="form-control"  name="terminal" required="">
                                            <option>Terminal 1</option>
                                            <option>Terminal 2</option>
                                            <option>Terminal 3</option>
                                            <option>Terminal 4</option>
                                            <option>Terminal 5</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <input readonly="readonly" data-toggle="datepicker" id="start-date" type="text" class="form-control" placeholder="Strat Date"/>
                                    </div>

                                    <div class="form-group col-md-6">
                    
                                        <input class="form-control" id = "start-time" type="text" name="time">

                                    
                                    </div>

                                    <div class="form-group col-md-6">
                                        <input readonly="readonly" data-toggle="datepicker" id="end-date" type="text" class="form-control" placeholder="End Date">
                                    </div>

                                    <div class="form-group col-md-6">
                                         <input class="form-control" id = "end-time" type="text" name="time">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <button type="button" class="form-control" onclick="pay()" id="exampleFormControlInput1"
                                            placeholder="">Get Price</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <img class="banner-img" src="images/banner/airport.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="animations">
            <div class="ani ani-6">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1024 1024">
                    <path id="followPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="dashedPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                        <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite"
                                       rotate="auto">
                            <mpath xlink:href="#followPath"></mpath>
                        </animateMotion>
                    </path>
                </svg>
            </div>
        </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Main Content -->
    <div class="main-content">

        <section id="iq-services"
                 class="iq-counter-box-1 overview-block-ptb it-works re4-mt-50 iq-font-black text-center">
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">How it Works</h3>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-lg-4">
                        <div class="iq-works-box no-shadow text-center">
                            <img class="img-fluid" src="images/bg/people.png" alt="#" width = "100px" height = "100px">
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Meet The Driver</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 r-mt-30">
                        <div class="iq-works-box no-shadow text-center">
                            <img class="img-fluid" src="images/bg/travel.png" alt="#" width = "100px" height = "100px">
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Enjoy Your Holiday</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 r-mt-30">
                        <div class="iq-works-box no-shadow text-center">
                            <img class="img-fluid" src="images/bg/bring.png" alt="#" width = "100px" height = "100px">
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Bring Your Vehicle</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How it Works END -->
        <!--=================================
    About Us -->

        <!-- Who is Sofbox ? -->
        <section id="how-works" class="overview-block-ptb how-works">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="iq-tw-6 iq-mb-25">Who is parkNfly ?</h2>
                        <p class="iq-font-15">When you book meet and greet parking through ‘Park up fly’, the airport parking provider will meet you at the terminal or approved set down point, we  and take your car to their secure storage facility. Your car is delivered back to you upon your return, making your trip hassle free and your parking safe, secure and unbeatably convenient.</p>
                       
                        <h6 class="iq-tw-6 iq-mt-25">Find more details about us.</h6>
                        <a onclick="aboutUs()" class="button iq-mt-10">Read more</a>
                    </div>
                    <div class="col-md-6">
                        <img width = "400px" class="iq-works-img" src="images/car.png" alt="drive01">
                    </div>
                </div>
            </div>
            <div class="iq-objects">
                <span class="iq-objects-01">
                    <img src="images/drive/02.png" alt="drive02">
                </span>
                <span class="iq-objects-02" data-bottom="transform:translatey(50px)"
                      data-top="transform:translatey(-100px);">
                    <img src="images/drive/03.png" alt="drive02">
                </span>
                <span class="iq-objects-03" data-bottom="transform:translatex(50px)"
                      data-top="transform:translatex(-100px);">
                    <img src="images/drive/04.png" alt="drive02">
                </span>
                <span class="iq-objects-04 iq-fadebounce">
                    <span class="iq-round"></span>
                </span>
            </div>
        </section>
        <!-- Who is Sofbox ? END -->


        <!-- Software Features -->
        <section id="software-features" class="overview-block-ptb iq-mt-50 software">
            <div class="iq-software-demo">
                {# <img class="img-fluid" src="images/banner/home.png" alt="drive05"> #}
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-6">
                        <h2 class="iq-tw-6 iq-mb-25">Why Us?</h2>
                        <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a galley of type and scrambled it to make a type specimen book.</p>
                        <ul class="iq-mt-40 iq-list">
                            <li class="iq-tw-6"><i
                                        class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
                                        class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type
                                    setting industry.</span></li>
                            <li class="iq-tw-6"><i
                                        class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
                                        class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type
                                    setting industry.</span></li>
                            <li class="iq-tw-6"><i
                                        class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
                                        class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type
                                    setting industry.</span></li>
                            <li class="iq-tw-6"><i
                                        class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
                                        class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type
                                    setting industry.</span></li>
                            <li class="iq-tw-6"><i
                                        class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span
                                        class="iq-font-black">Simply dummy text of the Lorem Ipsum is printing and type
                                    setting industry.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="iq-objects-software">
                <span class="iq-objects-01" data-bottom="transform:translatey(50px)"
                      data-top="transform:translatey(-100px);">
                    <img src="images/drive/03.png" alt="drive02">
                </span>
                <span class="iq-objects-02" data-bottom="transform:translatex(50px)"
                      data-top="transform:translatex(-100px);">
                    <img src="images/drive/04.png" alt="drive02">
                </span>
                <span class="iq-objects-03 iq-fadebounce">
                    <span class="iq-round"></span>
                </span>
            </div>
        </section>

        <!-- <section id="iq-about" class="overview-block-pt iq-pb-50 iq-counter-box blue-bg iq-font-white pattern-dot">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="heading-title white iq-font-white">
                            <h3 class="title iq-tw-7">About Us</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="iq-about">
                            <img class="img-fluid iq-mb-100" src="images/drive/20.png" alt="laptop">
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--=================================
    About Us -->
        <!-- Who is Sofbox ? -->
        <!-- <section id="iq-services" class="overview-block-ptb iq-mt-80 how-works">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="iq-tw-6 iq-mb-25">Software Features</h2>
                        <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <ul class="iq-mt-40 iq-list float-left">
                            <li class="iq-tw-7"><i class="ion-wand iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">Global Dashboard Filters</span></li>
                            <li class="iq-tw-7"><i class="ion-levels iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">Global Style Options</span></li>
                            <li class="iq-tw-7"><i class="ion-help-buoy iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">24/7 Dashboard Access</span></li>
                            <li class="iq-tw-7"><i class="ion-asterisk iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">Multiple Sharing Options</span></li>
                        </ul>
                        <ul class="iq-mt-40 iq-list float-sm-right float-left">
                            <li class="iq-tw-7"><i class="ion-wand iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">Global Dashboard Filters</span></li>
                            <li class="iq-tw-7"><i class="ion-levels iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">Global Style Options</span></li>
                            <li class="iq-tw-7"><i class="ion-help-buoy iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">24/7 Dashboard Access</span></li>
                            <li class="iq-tw-7"><i class="ion-asterisk iq-mr-20 iq-font-blue iq-font-30"></i><span class="iq-font-black">Multiple Sharing Options</span></li>
                        </ul>
                        <div class="clearfix"></div>
                        <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
                        <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <img class="iq-works-img" src="images/drive/01.png" alt="drive01">
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Who is Sofbox ? END -->
        <!-- <section id="how-works" class="overview-block-pb dummy-from">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="grey-bg iq-pall-50 rounded iq-mall-20">
                            <h5 class="text-uppercase iq-tw-7 iq-mb-10">Simply dummy text of the printing</h5>
                            <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
                            <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blue-bg iq-pall-50 rounded iq-mall-20 iq-font-white">
                            <h5 class="text-uppercase iq-tw-7 iq-mb-20 iq-font-white">Simply dummy text of the printing</h5>
                            <p>Dummy text of the printing and typesetting industry.</p>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E mail">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->



        <!-- Loved By Our Customers -->
        <section class="overview-block-ptb white-bg iq-loved-customers">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title iq-mt-50">
                            <h3 class="title iq-tw-7">Loved By Our Customers</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true"
                             data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2"
                             data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                            <div class="item">
                                <div class="iq-client white-bg">
                                    <div class="client-img">
                                        <img alt="#" class="img-fluid rounded-circle" src="images/testimonial/01.jpg">
                                    </div>
                                    <div class="client-info">
                                        <div class="client-name iq-mb-10">
                                            <h5 class="iq-tw-6">Jason Adams</h5>
                                            <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                                        </div>
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor coli incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client white-bg">
                                    <div class="client-img">
                                        <img alt="#" class="img-fluid rounded-circle" src="images/testimonial/02.jpg">
                                    </div>
                                    <div class="client-info">
                                        <div class="client-name iq-mb-10">
                                            <h5 class="iq-tw-6">Jenny Adams</h5>
                                            <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                                        </div>
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor coli incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client white-bg">
                                    <div class="client-img">
                                        <img alt="#" class="img-fluid rounded-circle" src="images/testimonial/03.jpg">
                                    </div>
                                    <div class="client-info">
                                        <div class="client-name iq-mb-10">
                                            <h5 class="iq-tw-6">John Deo</h5>
                                            <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                                        </div>
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor coli incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Loved By Our Customers END -->
    </div>
    <!-- Main  Contain End-->

 


{% endblock %}

{% block scripts %}
    <script src="/controllers/extentions.js" ></script>
    <script>



        var select = document.getElementById('airport');

            $(select).append(getAirports());


        function pay() {
//            window.location.href = 'http://localhost:3000/payment/paypal';
           
            var date1 = new Date($('#start-date').val());
            var date2 = new Date($('#end-date').val());
            var timeDiff = Math.abs(date2.getTime() - date1.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

           
            var json =  {
                days: diffDays,
            };

            $.post( getHost() + "calculate/bill",json)
                .done(function( data ) {
                   
                    var html =  '<div id="appended"><h5 class="text-uppercase iq-tw-7 iq-mb-20 iq-font-white">Your Cost '+data+' </h5> ' +
                        ' <button type="button" class="form-control" onclick="buy()" id="exampleFormControlInput1"' +
                        'placeholder="">Book</button></div>';
                    $( "#appended" ).remove();
                    var form = document.getElementById('form');
                    $(form).append(html);

                });
        }


        function buy() {
          
            var json = {
                airport:  $('#airport').val(),
                terminal:  $('#terminal').val() ,
                start_date:  $('#start-date').val().toString().replace("/" , ":").replace("/" , ":") ,
                start_time:  $('#start-time').val().toString() ,
                end_date:  $('#end-date').val().replace("/" , ":").replace("/" , ":") ,
                end_time:  $('#end-time').val() ,
            }

            $.get( getHost()+ "checklogin")
                .done(function( data ) {
                    if(data){
                        var url = getHost()+ "payment/" + JSON.stringify(json);
                        window.location.replace(url);
                    }else{
                       new duDialog('Warning', 'Please Login before booking.');
//                      var model =   document.getElementById('sign-model');
//                        console.log('camehear' , model);
//                        jQuery('#sign-model').css('opacity', '1');
//                        jQuery('#sign-model').css('visibility', 'visible');

                    }
                });



        }
    </script>
    <script src="/controllers/costcalculation.js"></script>
<script src = "js/datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript" src="plugins/timepicker/js/timepicki.js"></script>
<script type="text/javascript">
    $('.clockpicker').clockpicker({
        
    });
</script>

    <script>
    var now = Date.now();
  $(document).ready(function(){
    $('#start-date').datepicker({
        autoPick : "true",
        autoHide : "true",
        startDate: now
    });

      $('#end-date').datepicker({
        autoPick : "true",
        autoHide : "true",
        startDate: now
       
    });
  

    $("#start-time").timepicki();
    $("#end-time").timepicki();

  });

{# var dateTest = new Date;
  $('#start-date').on('pick.datepicker', function (e) {
    console.log(e.date);
    console.log(new Date);
    

      $('#end-date').datepicker({
        startDate: '03/30/2019'
       
    });
}); #}
</script>
   
{% endblock %}