{% extends 'base.twig' %}

{% block styles %}
<link rel="stylesheet" href="/css/pay.css" />
{% endblock %}

{% block main %}


    <!-- Banner -->
    <section id="iq-home" class="iq-banner-08 overview-block-pt grey-bg" style="background-color:#cae3e4">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <!-- <div class="col-lg-6">
                        <h1 class="text-uppercase iq-font-blue iq-tw-3">We are building <b class="iq-tw-7">software</b> to help</h1>
                        <p class="iq-font-black iq-pt-15 iq-mb-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley, </p>
                        <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
                        <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
                    </div> -->
                    <h1 class="text-uppercase iq-font-blue iq-tw-3">Pay Here</h1>
                    <p class="iq-font-black iq-pt-15 iq-mb-40">
                        get your quets.</p>

                </div>
            </div>
        </div>
        <div class="animations">
            <div class="ani ani-6">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1024 1024">
                    <path id="followPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="dashedPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                        <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite"
                                       rotate="auto">
                            <mpath xlink:href="#followPath"></mpath>
                        </animateMotion>
                    </path>
                </svg>
            </div>
        </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Main Content -->
    <div class="main-content">
        <section id="great-features" class="life-work-1 overview-block-pt iq-mt-50 software" style="margin-bottom:30px;background-color:#eeeeef;padding:10px;margin:10px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" style="margin:0px">
                        <div class="">
                            <div class="container-form">
                                <form action="/action_page.php">

                                    <div class="row">
                                        <div class="col-25">

                                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                            <input type="text" id="email" name="email" placeholder="john@example.com">
                                            <label for="adr"><i class="fa fa-address-card-o"></i> Contact</label>
                                            <input type="text" id="contact" name="address" placeholder="Contact No:">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4" style="margin:0px">
                        <div class="">
                            <div class="container-form">
                                <form action="/action_page.php">

                                    <div class="row">
                                        <div class="col-25">

                                            <label for="city"><i class="fa fa-institution"></i>Car Registration</label>
                                            <input type="text" id="registration" name="city" placeholder="Car Registration">

                                            <label for="city"><i class="fa fa-institution"></i> Car Make Model</label>
                                            <input type="text" id="model" name="city" placeholder="Model">

                                            <label for="city"><i class="fa fa-institution"></i> Car Color</label>
                                            <input type="text" id="color" name="city" placeholder="Color">
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4" style="margin:0px">
                        <div class="">
                            <div class="container-form">
                                <form action="/action_page.php">

                                    <div class="row">
                                        <div class="col-25">

                                            <img src="/images/icon/paypal.png" style="margin:10px" />
                                        </div>

                                    </div>
                                    <label>
                                        <input type="checkbox" checked="checked" name="sameadr"> I agree to the terms of
                                        service
                                        ,Get exclusive offers and discounts by email. You can unsubscribe at any time.
                                    </label>
                                    <input type="button" onclick="pay()" value="Continue to checkout" class="btn">
                                </form>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </section>

    </div>
    <!-- Main  Contain End-->


{% endblock %}

{% block scripts %}
<script>

    var json = {{ data }} ;
    console.log(json);
    
    function pay() {
        json.fname = $('#fname').val();
        json.email = $('#email').val();
        json.contact = $('#contact').val();
        json.registration = $('#registration').val();
        json.model = $('#model').val();
        json.color = $('#color').val();

        var url =  getHost()+ "payment/pay/paypal/" + JSON.stringify(json);;
        window.location.replace(url);
//        $.get( "http://localhost:3000/payment/pay/paypal",json)
//            .done(function( data ) {
//
//
//            });
    }


</script>
{% endblock %}