{% extends 'base.twig' %}

{% block styles %}

{% endblock %}

{% block main %}

  <h2 style="margin-top: 100px;">Login Form</h2>

<form action= {{ getHost() + "signinpost" }} method="post">>
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Login</button>
    <a href="#" onclick="function hi(){

       window.location.href= getHost()+ 'signup' ;
    };hi()">Sign Up</a>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>



{% endblock %}

{% block scripts %}

{% endblock %}