{% extends 'base.twig' %}

{% block main %}

    <div class="col-md-4 col-md-offset-8">
        <div class="iq-get-in">
            <h4 class="iq-tw-7 iq-mb-20">Get in Touch</h4>
            <div id="formmessage">Success/Error Message Goes Here</div>
            <form class="form-horizontal" id="contactform" method="post" action="http://localhost:3000/signuppost">
                <div class="contact-form">
                    <div class="section-field">
                        <input id="name" type="text" placeholder="First Name" name="firstname">
                    </div>
                    <div class="section-field">
                        <input type="name" placeholder="Last name" name="lastname">
                    </div>
                    <div class="section-field">
                        <input type="email" placeholder="Email" name="email">
                    </div>
                    <div class="section-field">
                        <input type="text" placeholder="contact" name="contact">
                    </div>
                    <div class="section-field">
                        <input type="text" placeholder="password" name="password">
                    </div>
                    <input type="hidden" name="action" value="sendEmail">
                    <button id="submit" name="submit" type="submit" value="Send" class="button iq-mt-30">Sign Up</button>
                </div>
            </form>
            <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt="#"></div>
        </div>
    </div>

{% endblock %}